.palanen {
	width:512;
	height:512;
	position:relative;
}

.kuva {
	z-index:80;
	position:absolute;
}

.paikka {
	z-index:100;
	position:absolute;
	color:black;
	font-size:12px;
	font-weight:bold;
	background-color:rgba(255,255,255,0.15)
}

#toolsContainer {
	position:fixed;
	top:5px;
	right:5px;
	background:rgba(0,0,0,0);
	z-index:110;
	width: 6.666em;
}

#cursor {
	background: rgba(0,0,0,0.5);
	border: 2px solid white;
	border-radius: 5px;
	padding: 0.7em;
}

body {
	background-color:gray;
}

table {
	border-collapse:initial;
}

td {
	padding:0px;
}

.mini {
	color:#2F4F4F;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:10px;
}

input, select {
	background: black;
	color: white;
	width:100%;
	padding: 0.7em;
	border-radius: 5px;
	margin-bottom: 0.2em;
}
